<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html.liquid %}
    <title>Gabriel Fontes | {{ page.title }}</title>
    <meta name="description" content="
      {% if page.description %}
        {{ page.description }}
      {% else %}
        {{ site.description }}
      {% endif %}"
    />
    {% if page.noindex == true %}
      <meta name="robots" content="noindex">
    {% endif %}
  </head>
  <body>
    {{ content | extlinks }}
  </body>
</html>
