<address>
  <p>
    Email: <a href="mailto:hi@m7.rs">hi@m7.rs</a>;
    <span class="pgp">PGP:
      <a href="https://keys.openpgp.org/vks/v1/by-fingerprint/7088C7421873E0DB97FF17C2245CAB70B4C225E9">
        <span>7088 C742 1873 E0DB 97FF 17C2</span> 245C AB70 B4C2 25E9
      </a>
    </span>
  </p>

  <p>
    Social:
    <a href="https://github.com/misterio77" class="github">github</a>;
    <a href="https://linkedin.com/in/misterio7" class="linkedin">linkedin</a>;
    <a href="https://t.me/misterio7x" class="telegram">telegram</a>;
    <a href="https://matrix.to/#/@misterio:matrix.org" class="matrix">matrix</a>;
    <a href="https://twitter.com/misterio7x7" class="twitter">twitter</a>
  </p>

  <p>Copyleft <a href="/">Gabriel Fontes</a> (<a href="/git/website/about">source code</a>)</p>
</address>
