<address>
  <p>
      Emails:
      <a href="mailto:hi@m7.rs">hi@m7.rs</a>;
      <a href="mailto:gabriel@gsfontes.com">gabriel@gsfontes.com</a>;
      <a href="mailto:eu@misterio.me">eu@misterio.me</a>
    <br />
    <span class="pgp">PGP:
      <a href="/pgp.asc">
        <span>7088 C742 1873 E0DB 97FF 17C2</span> 245C AB70 B4C2 25E9
      </a>
    </span>
  </p>

  <p>
    Social:
    <a href="https://github.com/misterio77" class="github">github</a>;
    <a href="https://fosstodon.org/@misterio" class="mastodon" rel="me">mastodon</a>;
    <a href="https://linkedin.com/in/misterio7" class="linkedin">linkedin</a>;
    <a href="https://t.me/misterio7x" class="telegram">telegram</a>;
    <a href="https://matrix.to/#/@misterio:matrix.org" class="matrix">matrix</a>;
  </p>

  <p class="copyleft">Copyleft <a href="/">Gabriel Fontes</a> (<a href="/git/website/about">source code</a>)</p>
</address>

<p class="print-site-link"><small>Also available at <a href="https://{{ site.domain }}{{ page.url }}">my website</a>.</small></p>
