<p>
  Wanna talk? Hit me up on email. Feel free to encrypt, and <a href="https://useplaintext.email">use plaintext</a> if possible.
</p>

<p>
  <address>
    <a href="mailto:eu@misterio.me">eu@misterio.me</a> /
    <a href="mailto:g.fontes@usp.br">g.fontes@usp.br</a>
  </address>
  <span class="pgp">
    <small>
      PGP:
    </small>
    <a href="/7088C7421873E0DB97FF17C2245CAB70B4C225E9.asc">
      <span>7088 C742 1873 E0DB 97FF 17C2</span> 245C AB70 B4C2 25E9
    </a>
  </span>
</p>

<p>
  <small>Forges: </small>
  <a href="https://sr.ht/~misterio" class="sourcehut">sourcehut</a>
  /
  <a href="https://github.com/misterio77" class="github">github</a>
</p>

<p>
  <small>Social: </small>
  <!-- <a href="" class="mastodon">
    mastodon
  </a> / -->
  <a href="https://twitter.com/misterio7x7" class="twitter">twitter</a>
  /
  <a href="https://linkedin.com/in/misterio7" class="linkedin">linkedin</a>
</p>

<p>
  <small>Chat: </small>
  <a href="https://matrix.to/#/@misterio:matrix.org" class="matrix">matrix</a>
  /
  <a href="https://t.me/misterio7x" class="telegram">telegram</a>
</p>

<p><a href="https://sr.ht/~misterio/website/">This site's code</a> is available under MIT, while its content is CC BY-SA 4.0</p>
