<div class="title">{ <a href="/">Gabriel Fontes</a> }</div>
<nav>
    <ul>
      {% for item in site.data.navigation %}
      <li>
        <a
          {% if page.nav_current == item.link or page.url == item.link %}
            aria-current="page"
          {% endif %}
          {% if item.class %}
            class="{{ item.class }}"
          {% endif %}
          {% if item.label %}
            aria-label="{{ item.label }}"
          {% endif %}
          href="{{ item.link }}"
        >
          {% if item.text %}
            {{ item.text | downcase }}
          {% endif %}
        </a>
      </li>
      {% endfor %}
    </ul>
</nav>
