{%- include fetch-backlinks.liquid -%}

{% if referees.size > 0 %}
  <aside class="backlinks">
    <header>
      <h2>Links to this note:</h2>
    </header>
    {% for referee in referees %}
      {% if referee != '' %}
        {% assign document = site.documents | where: "slug", referee | where: "gemini", false | first %}
        <article>
          <header>
            <h3><a href="{{ document.url }}">{{ document.title }}</a> ({{ document.language }})</h3>
          </header>
          <p>{{ document.excerpt | strip_html }}</p>
        </article>
      {% endif %}
    {% endfor %}
  </aside>
{% endif %}
