<footer id="contact">
  <p>
    <small>Wanna talk? Hit me up on email. Feel free to encrypt, and <a href="https://useplaintext.email">use plaintext</a> if possible.</small>
  </p>
  <p>
    <address>
      <a href="mailto:eu@misterio.me">eu@misterio.me</a> /
      <a href="mailto:g.fontes@usp.br">g.fontes@usp.br</a>
    </address>
    <small>
      {% include icons/mdi/key.svg class="icon medium" %}
      PGP:
      <a
        class="pgp"
        href="/7088C7421873E0DB97FF17C2245CAB70B4C225E9.asc"
        ><span>7088 C742 1873 E0DB 97FF 17C2</span> 245C AB70 B4C2 25E9</a
      >
    </small>
  </p>
  <p>
    <small>Forges: </small>
    <a href="https://sr.ht/~misterio">
      <small>{% include icons/sourcehut.svg %}</small> sourcehut
    </a> /
    <a href="https://github.com/misterio77">
      <small>{% include icons/simple-icons/github.svg %}</small> github
    </a>
  </p>
  <p>
    <small>Social: </small>
    <!-- <a href="">
      <small>{% include icons/simple-icons/mastodon.svg %}</small>mastodon
    </a> / -->
    <a href="https://twitter.com/misterio7x7">
      <small>{% include icons/simple-icons/twitter.svg %}</small> twitter
    </a> /
    <a href="https://linkedin.com/in/misterio7">
      <small>{% include icons/simple-icons/linkedin.svg %}</small> linkedin
    </a>
  </p>
  <p>
    <small>Chat: </small>
    <a href="https://matrix.to/#/@misterio:matrix.org">
      <small>{% include icons/simple-icons/matrix.svg %}</small> matrix
    </a> /
    <a href="https://t.me/misterio7x">
      <small>{% include icons/simple-icons/telegram.svg %}</small> telegram
    </a>
  </p>
  <hr />
  <small>
    <a href="https://sr.ht/~misterio/misterio.me/">This site</a>'s code is available under <a href="/LICENSE">MIT</a>, while its content is <a href="/LICENSE_content">CC BY-SA 4.0</a>
  </small>
</footer>
