<nav>
  <div class="row extremes">
    <span class="title">{ <a href="/">Gabriel Fontes</a> }</span>
    <button type="button" aria-label="Change color scheme" id="scheme-button">
      <span class="iconify medium" data-icon="mdi-palette"></span>
    </button>
  </div>
  <ul>
    {% for item in site.data.navigation %}
    <li>
      <a {% if page.url == item.link %} aria-current="page" {% endif %} href="{{ item.link }}">
        {{ item.name }}
      </a>
    </li>
    {% endfor %}
    {% for item in site.data.external %}
    <li>
      <a href="{{ item.link }}">
        <span class="iconify" data-icon="{{ item.icon }}"></span>
        {{ item.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
