<datalist id="scheme-list">
  <option>3024</option>
  <option>apathy</option>
  <option>apprentice</option>
  <option>ashes</option>
  <option>atelier-cave</option>
  <option>atelier-cave-light</option>
  <option>atelier-dune</option>
  <option>atelier-dune-light</option>
  <option>atelier-estuary</option>
  <option>atelier-estuary-light</option>
  <option>atelier-forest</option>
  <option>atelier-forest-light</option>
  <option>atelier-heath</option>
  <option>atelier-heath-light</option>
  <option>atelier-lakeside</option>
  <option>atelier-lakeside-light</option>
  <option>atelier-plateau</option>
  <option>atelier-plateau-light</option>
  <option>atelier-savanna</option>
  <option>atelier-savanna-light</option>
  <option>atelier-seaside</option>
  <option>atelier-seaside-light</option>
  <option>atelier-sulphurpool</option>
  <option>atelier-sulphurpool-light</option>
  <option>atlas</option>
  <option>ayu-dark</option>
  <option>ayu-light</option>
  <option>ayu-mirage</option>
  <option>base16-vice-scheme</option>
  <option>bespin</option>
  <option>black-metal</option>
  <option>black-metal-bathory</option>
  <option>black-metal-burzum</option>
  <option>black-metal-dark-funeral</option>
  <option>black-metal-gorgoroth</option>
  <option>black-metal-immortal</option>
  <option>black-metal-khold</option>
  <option>black-metal-marduk</option>
  <option>black-metal-mayhem</option>
  <option>black-metal-nile</option>
  <option>black-metal-venom</option>
  <option>blueish</option>
  <option>brewer</option>
  <option>bright</option>
  <option>brushtrees</option>
  <option>brushtrees-dark</option>
  <option>chalk</option>
  <option>circus</option>
  <option>classic-dark</option>
  <option>classic-light</option>
  <option>codeschool</option>
  <option>colors</option>
  <option>cupcake</option>
  <option>cupertino</option>
  <option>da-one-black</option>
  <option>da-one-gray</option>
  <option>da-one-ocean</option>
  <option>da-one-paper</option>
  <option>da-one-white</option>
  <option>danqing</option>
  <option>darcula</option>
  <option>darkmoss</option>
  <option>darktooth</option>
  <option>darkviolet</option>
  <option>decaf</option>
  <option>default-dark</option>
  <option>default-light</option>
  <option>dirtysea</option>
  <option>dracula</option>
  <option>eighties</option>
  <option>embers</option>
  <option>emil</option>
  <option>equilibrium-dark</option>
  <option>equilibrium-gray-dark</option>
  <option>equilibrium-gray-light</option>
  <option>equilibrium-light</option>
  <option>espresso</option>
  <option>eva</option>
  <option>eva-dim</option>
  <option>flat</option>
  <option>framer</option>
  <option>fruit-soda</option>
  <option>gigavolt</option>
  <option>github</option>
  <option>google-dark</option>
  <option>google-light</option>
  <option>gotham</option>
  <option>grayscale-dark</option>
  <option>grayscale-light</option>
  <option>greenscreen</option>
  <option>gruvbox-dark-hard</option>
  <option>gruvbox-dark-medium</option>
  <option>gruvbox-dark-pale</option>
  <option>gruvbox-dark-soft</option>
  <option>gruvbox-light-hard</option>
  <option>gruvbox-light-medium</option>
  <option>gruvbox-light-soft</option>
  <option>gruvbox-material-dark-hard</option>
  <option>gruvbox-material-dark-medium</option>
  <option>gruvbox-material-dark-soft</option>
  <option>gruvbox-material-light-hard</option>
  <option>gruvbox-material-light-medium</option>
  <option>gruvbox-material-light-soft</option>
  <option>hardcore</option>
  <option>harmonic-dark</option>
  <option>harmonic-light</option>
  <option>heetch</option>
  <option>heetch-light</option>
  <option>helios</option>
  <option>hopscotch</option>
  <option>horizon-dark</option>
  <option>horizon-light</option>
  <option>horizon-terminal-dark</option>
  <option>horizon-terminal-light</option>
  <option>humanoid-dark</option>
  <option>humanoid-light</option>
  <option>ia-dark</option>
  <option>ia-light</option>
  <option>icy</option>
  <option>irblack</option>
  <option>isotope</option>
  <option>katy</option>
  <option>kimber</option>
  <option>lime</option>
  <option>macintosh</option>
  <option>marrakesh</option>
  <option>materia</option>
  <option>material</option>
  <option>material-darker</option>
  <option>material-lighter</option>
  <option>material-palenight</option>
  <option>material-vivid</option>
  <option>mellow-purple</option>
  <option>mexico-light</option>
  <option>mocha</option>
  <option>monokai</option>
  <option>nebula</option>
  <option>nord</option>
  <option>nova</option>
  <option>ocean</option>
  <option>oceanicnext</option>
  <option>one-light</option>
  <option>onedark</option>
  <option>outrun-dark</option>
  <option>pandora</option>
  <option>paraiso</option>
  <option>pasque</option>
  <option>phd</option>
  <option>pico</option>
  <option>pinky</option>
  <option>pop</option>
  <option>porple</option>
  <option>primer-dark</option>
  <option>primer-dark-colorblind</option>
  <option>primer-dark-dimmed</option>
  <option>primer-dark-high-contrast</option>
  <option>primer-light</option>
  <option>primer-light-colorblind</option>
  <option>purpledream</option>
  <option>qualia</option>
  <option>railscasts</option>
  <option>rebecca</option>
  <option>rose-pine</option>
  <option>rose-pine-dawn</option>
  <option>rose-pine-moon</option>
  <option>sagelight</option>
  <option>sakura</option>
  <option>sandcastle</option>
  <option>seti</option>
  <option>shadesmear-dark</option>
  <option>shadesmear-light</option>
  <option>shapeshifter</option>
  <option>silk-dark</option>
  <option>silk-light</option>
  <option>snazzy</option>
  <option>solarflare</option>
  <option>solarflare-light</option>
  <option>solarized-dark</option>
  <option>solarized-light</option>
  <option>spaceduck</option>
  <option>spacemacs</option>
  <option>stella</option>
  <option>still-alive</option>
  <option>summercamp</option>
  <option>summerfruit-dark</option>
  <option>summerfruit-light</option>
  <option>synth-midnight-dark</option>
  <option>synth-midnight-light</option>
  <option>tender</option>
  <option>tokyo-city-dark</option>
  <option>tokyo-city-light</option>
  <option>tokyo-city-terminal-dark</option>
  <option>tokyo-city-terminal-light</option>
  <option>tokyo-night-dark</option>
  <option>tokyo-night-light</option>
  <option>tokyo-night-storm</option>
  <option>tokyo-night-terminal-dark</option>
  <option>tokyo-night-terminal-light</option>
  <option>tokyo-night-terminal-storm</option>
  <option>tokyonight</option>
  <option>tomorrow</option>
  <option>tomorrow-night</option>
  <option>tomorrow-night-eighties</option>
  <option>tube</option>
  <option>twilight</option>
  <option>unikitty-dark</option>
  <option>unikitty-light</option>
  <option>unikitty-reversible</option>
  <option>uwunicorn</option>
  <option>vulcan</option>
  <option>windows-10</option>
  <option>windows-10-light</option>
  <option>windows-95</option>
  <option>windows-95-light</option>
  <option>windows-highcontrast</option>
  <option>windows-highcontrast-light</option>
  <option>windows-nt</option>
  <option>windows-nt-light</option>
  <option>woodland</option>
  <option>xcode-dusk</option>
  <option>zenburn</option>
</datalist>
