@import "vendor/normalize";
@import "vendor/water";

@import "highlight";
@import "typography";
@import "utils";

#scheme-name:after {
  content: var(--scheme-name);
}
#scheme-author:after {
  content: var(--scheme-author);
}

// =============
// General stuff
// =============

// Remove water.css emojis
a[href^="mailto\:"]:before {
  content: "";
}
a[href^="tel\:"]:before {
  content: "";
}
a[href^="sms\:"]:before {
  content: "";
}

:root {
  // Map water.css variables to base16
  --background-body: var(--base00);
  --background: var(--base01);
  --background-alt: var(--base02);
  --selection: var(--base06);
  --text-main: var(--base05);
  --text-bright: var(--base06);
  --text-muted: var(--base04);
  --links: var(--base09);
  --focus: var(--base0C);
  --border: var(--base02);
  --code: var(--base0F);
  --animation-duration: 0.13s;
  --button-hover: var(--base02);
  --scrollbar-thumb: var(--base04);
  --scrollbar-thumb-hover: var(--base05);
  --form-placeholder: var(--base04);
  --form-text: var(--base05);
  --variable: var(--base0B);
  --highlight: var(--base0E);

  // Additional variables
  --blockquote-color: var(--base0C);
  --links-files: var(--base0B);
  --links-external: var(--base0D);
  --negative: var(--base08);
  --positive: var(--base0B);
  --warning: var(--base0A);
}

// Jump fragment indicator
:target {
  background: var(--background-alt);
}

// Make current navigation item inactive
[aria-current="page"],
.active {
  color: var(--text-main);

  &::before {
    content: '[  ';
  }

  &::after {
    content: ' ]';
  }
}

// Add prettier border
button,
input,
select,
textarea {
  border: var(--background-alt) dashed 2px;
  &:focus {
    box-shadow: 2px 2px var(--background);
    border-color: var(--text-muted);
    border-style: solid;
  }
  &:hover {
    border-color: var(--focus);
    &.positive {
      border-color: var(--positive);
    }
    &.negative {
      border-color: var(--negative);
    }
  }
}
label {
  display: inline;
}
// Make fieldset look nicer and more discreet
fieldset {
  legend {
    color: var(--text-muted);
  }
  border: 2px dashed var(--background);
}
// Make form have no styling, so it is more flexible
form {
  display: inline;
}
// Inline block is better
input:not([type="checkbox"]):not([type="radio"]),
select {
  display: inline-block;
}
// Change first and second layer of details
details {
  &[open] > summary {
    font-style: italic;
  }
  background-color: var(--background);
  summary {
    background-color: var(--background-alt);
  }

  & > ul details {
    background-color: var(--background-body);
    summary {
      background-color: var(--background-alt);
    }
  }
}

// ===================
// More specific stuff
// ===================

// Special icons and colors

label {
  &.colorscheme {
    @include add-icon-label("palette");
  }
}

button {
  &.random {
    @include add-icon-button("shuffle");
  }

  &.restore {
    @include add-icon-button("restore");
  }
}

blockquote {
  &.negative {
      border-left-color: var(--negative);
  }
  &.positive {
      border-left-color: var(--positive);
  }
  &.warning {
      border-left-color: var(--warning);
  }
}

a {
  &.external {
    color: var(--links-external);
    @include add-icon("external");
  }

  &[href^="mailto"] {
    color: var(--links-external);
    @include add-icon("mail");
  }

  &.feed {
    color: var(--links-files);
    @include add-icon("rss", $margin: 0.5rem);
  }

  &.file {
    color: var(--links-files);
  }
}

nav li.colorscheme a {
  @include set-icon("palette", $size: 1.4rem);
}

.pgp {
  // Appearance
  @include add-icon("key", $position: left);
  a {
    color: var(--links-files);
  }

  // Expanding
  span {
    display: inline-block;
    max-width: 0;
    overflow: hidden;
    transition: max-width .5s;
    vertical-align: bottom;
    white-space: nowrap;
  }
  &:hover span {
    max-width: 14em;
    text-decoration: underline;
  }
}

header {
  margin-bottom: 2px;
}
body {
  // Bit of space at the top
  margin-top: 2em;
  & > header {
    // Add a line after first header
    border-bottom: 1px solid var(--border);
  }
}

nav {
  // Navigation menu
  ul {
    list-style: none;
    margin-left: -30px;

    li {
      font-size: 1.1em;
      display: inline-block;
      margin-bottom: 10px;
      margin-right: 15px;
      margin-top: -10px;
      vertical-align: middle;
      &.colorscheme:after {
        margin-left: 0.5rem;
        content: "-";
        color: var(--text-muted);
      }
    }
  }
}

// Site logo
.title {
  // Name itself
  a {
    color: var(--base0E);
    text-decoration: none;
  }

  // Decorations around
  color: var(--text-muted);
  font-size: 2.4em;
  font-weight: 600;
  &:hover {
    color: var(--base09);
  }
  margin-bottom: 1em;
}

aside {
  border-top: 1px solid var(--border);
  font-size: 80%;
}

article header {
  // Remove top margin from post info
  margin-bottom: 0;
  h2, h3, h4, h5, h6 {
    margin-bottom: 0;
  }
}

// If it's main article
body > main > article > header {
  // Decrease margin between p's
  p {
    margin-block-start: 0.2em;
    margin-block-end: 0.4em;
  }
  // Add some padding after it
  padding-bottom: 0.5em;
}
