{% include scheme-datalist.html %}
<nav>
  <nav>
    <div class="title">{ <a href="/">Gabriel Fontes</a> }</div>
    <label class="left-icon">
      {% include icons/mdi/palette.svg %}
      <input id="scheme-input" list="scheme-list" />
    </label>
  </nav>
  <ul>
    {% for item in site.data.navigation %}
    <li>
      <a {% if page.url == item.link %} aria-current="page" {% endif %} href="{{ item.link }}">
        {{ item.name | downcase }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% if page.has_gemini %}
    <small>
      Also available <a href="gemini://misterio.me{{ page.url | replace: ".html", ".gmi" }}">on gemini</a>
    </small>
  {% endif %}
</nav>
