<nav>
  <nav>
    <div class="title">{ <a href="/">Gabriel Fontes</a> }</div>
  </nav>
  <ul>
    <li class="colorscheme">
      <a {% if page.url == "/colorscheme/" %} aria-current="page" {% endif %} aria-label="Change color scheme" href="/colorscheme">
        {% include icons/mdi/palette.svg class="icon medium" %}
      </a>
    </li>
    {% for item in site.data.navigation %}
    <li>
      <a {% if page.url == item.link %} aria-current="page" {% endif %} href="{{ item.link }}">
        {{ item.name | downcase }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% if page.has_gemini %}
    <small>
      Also available <a href="gemini://misterio.me{{ page.url | replace: ".html", ".gmi" }}">on gemini</a>
    </small>
  {% endif %}
</nav>
