/* {Generated} by {Flavours} */

:root {
  --base00: #2f2414;
  --base01: #514738;
  --base02: #736a5c;
  --base03: #958d80;
  --base04: #b7b0a5;
  --base05: #d8d3c9;
  --base06: #dedad1;
  --base07: #e4e0d9;
  --base08: #84775d;
  --base09: #c95506;
  --base0A: #9c8b6b;
  --base0B: #9c9361;
  --base0C: #83793d;
  --base0D: #997136;
  --base0E: #8f753b;
  --base0F: #827575;
}

