/* Default theme (rose-pine) */
:root {
  --base00: #faf4ed;
  --base01: #fffaf3;
  --base02: #f2e9de;
  --base03: #9893a5;
  --base04: #6e6a86;
  --base05: #575279;
  --base06: #555169;
  --base07: #26233a;
  --base08: #1f1d2e;
  --base09: #b4637a;
  --base0A: #ea9d34;
  --base0B: #d7827e;
  --base0C: #286983;
  --base0D: #56949f;
  --base0E: #907aa9;
  --base0F: #c5c3ce;
}
@media (prefers-color-scheme: dark) {
  :root {
    --base00: #232136;
    --base01: #2a273f;
    --base02: #393552;
    --base03: #59546d;
    --base04: #817c9c;
    --base05: #e0def4;
    --base06: #f5f5f7;
    --base07: #d9d7e1;
    --base08: #ecebf0;
    --base09: #eb6f92;
    --base0A: #f6c177;
    --base0B: #ea9a97;
    --base0C: #3e8fb0;
    --base0D: #9ccfd8;
    --base0E: #c4a7e7;
    --base0F: #b9b9bc;
  }
}
/* Map water.css variables to base16 */
:root {
  --background-body: var(--base00);
  --background: var(--base01);
  --background-alt: var(--base02);
  --selection: var(--base06);
  --text-main: var(--base05);
  --text-bright: var(--base06);
  --text-muted: var(--base04);
  --links: var(--base09);
  --focus: var(--base0A);
  --border: var(--base02);
  --code: var(--base0D);
  --button-hover: var(--base03);
  --scrollbar-thumb: var(--base04);
  --scrollbar-thumb-hover: var(--base05);
  --form-placeholder: var(--base04);
  --form-text: var(--base05);
  --variable: var(--base0B);
  --highlight: var(--base0C);
  --animation-duration: 0.13s;
}

* {
  transition: all var(--animation-duration) ease;
}

/* Main font */
body {
  font-family: "Fira Sans", sans-serif;
}
/* Code font */
code {
  font-family: "Fira Code", monospace;
  font-size: 0.95em;
}

/* Flex row*/
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.row.extremes {
  justify-content: space-between;
}
/* Dialog styling*/
dialog {
  background-color: var(--background-body);
  color: var(--text-main);
  border: none;
  border-radius: 6px;
  border-color: var(--border);
  padding: 10px 30px;
}

dialog > header:first-child {
  background-color: var(--background);
  border-radius: 6px 6px 0 0;
  margin: -10px -30px 10px;
  padding: 5px;
  text-align: center;
}

dialog::backdrop {
  background: #000000a2;
  backdrop-filter: blur(2px);
}

dialog + .backdrop {
  background: rgba(0, 0, 0, 0.7);
}

/* Top right close button*/
.close-button {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  display: inline-block;
  padding: 8px 16px;
  margin-right: 0;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

/* Nav bar */
nav ul {
  list-style: none;
  margin-left: -30px;
}
nav ul li {
  margin-top: -10px;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}
/* Title */
.title a {
  text-decoration: none;
  color: #39a33c;
  color: var(--variable);
}
.title a:hover {
  text-decoration: none;
}
.title {
  font-weight: 600;
  font-size: 2.2em;
  margin-bottom: 12px;
  margin-top: 24px;
  color: #70777f;
  color: var(--text-muted);
}
.title:hover {
  color: var(--focus);
}
/* Remove emojis from water.css */
a[href^="mailto\:"]:before {
  content: "";
}
a[href^="tel\:"]:before {
  content: "";
}
a[href^="sms\:"]:before {
  content: "";
}
/* Smaller buttons */
button.small-button,
input[type="button"].small-button,
input[type="submit"].small-button {
  padding-right: 12px;
  padding-left: 12px;
}
/* Hide button without jumping around */
.hidden {
  visibility: hidden;
}
/* Expanding PGP */
.pgp {
  vertical-align: bottom;
}
.pgp span {
  max-width: 0;
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
  display: inline-block;
  vertical-align: bottom;
  white-space: nowrap;
  overflow: hidden;
}
.pgp:hover span {
  max-width: 200px;
  text-decoration: underline;
}
/* Current item in navigation */
[aria-current="page"] {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: #363636;
  color: var(--text-main);
}

[aria-current="page"]:before {
  content: "[  ";
}
[aria-current="page"]:after {
  content: " ]";
}
/* Increase bottom margin label */
input {
  margin-top: 10px;
}
/* Increase icon size */
.iconify.medium {
  font-size: 1.4em;
}
/* Remove bullets from post list */
ul.posts {
  list-style: none;
}
