@import "normalize";
@import "water";
@import "highlight";

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/FiraSans/Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: normal;
  src: url('/assets/FiraSans/Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: bold;
  src: url('/assets/FiraSans/Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: bold;
  src: url('/assets/FiraSans/BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/FiraCode/Regular.woff2') format('woff2');
}

// Heading sizes
h1 {
  font-size: 1.8em;
  font-style: italic;
}
h2 {
  font-size: 1.6em;
  font-style: italic;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 1em;
}

// Default theme (rose-pine)
:root {
  --base00: #faf4ed;
  --base01: #fffaf3;
  --base02: #f2e9de;
  --base03: #9893a5;
  --base04: #6e6a86;
  --base05: #575279;
  --base06: #555169;
  --base07: #26233a;
  --base08: #1f1d2e;
  --base09: #b4637a;
  --base0A: #ea9d34;
  --base0B: #d7827e;
  --base0C: #286983;
  --base0D: #56949f;
  --base0E: #907aa9;
  --base0F: #c5c3ce;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base00: #232136;
    --base01: #2a273f;
    --base02: #393552;
    --base03: #59546d;
    --base04: #817c9c;
    --base05: #e0def4;
    --base06: #f5f5f7;
    --base07: #d9d7e1;
    --base08: #ecebf0;
    --base09: #eb6f92;
    --base0A: #f6c177;
    --base0B: #ea9a97;
    --base0C: #3e8fb0;
    --base0D: #9ccfd8;
    --base0E: #c4a7e7;
    --base0F: #b9b9bc;
  }
}

// Map water.css variables to base16
:root {
  --animation-duration: 0.13s;
  --background: var(--base01);
  --background-alt: var(--base02);
  --background-body: var(--base00);
  --border: var(--base02);
  --button-hover: var(--base03);
  --code: var(--base0D);
  --error: var(--base08);
  --focus: var(--base0A);
  --form-placeholder: var(--base04);
  --form-text: var(--base05);
  --highlight: var(--base0C);
  --links: var(--base09);
  --scrollbar-thumb: var(--base04);
  --scrollbar-thumb-hover: var(--base05);
  --selection: var(--base06);
  --text-bright: var(--base06);
  --text-main: var(--base05);
  --text-muted: var(--base04);
  --variable: var(--base0B);
}

:target {
  background: var(--base02);
}

// Buttons and inputs color
button,
input,
select,
textarea {
  background-color: var(--background-alt);
}

// Main font
body {
  font-family: "Fira Sans", sans-serif;
}

// Code font
code {
  font-family: "Fira Code", monospace;
  font-size: .95em;
}

// Nav bar
nav ul {
  list-style: none;
  margin-left: -30px;

  li {
    font-size: 1.1em;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-top: -10px;
    vertical-align: middle;
  }
}

header > nav {
  & > nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2em;
    margin-top: 2em;


    .title {
      color: var(--text-muted);
      font-size: 2.4em;
      font-weight: 600;
      a {
        color: var(--variable);
        text-decoration: none;
      }

      &:hover {
        color: var(--focus);

        a {
          text-decoration: none;
        }
      }
    }
  }
}

// Remove emojis from water.css

[href^="mailto"]::before {
  // scss-lint:disable ImportantRule
  content: '' !important;
}

[href^="tel"]::before {
  // scss-lint:disable ImportantRule
  content: '' !important;
}

[href^="sms"]::before {
  // scss-lint:disable ImportantRule
  content: '' !important;
}
// Expanding PGP
.pgp {
  vertical-align: bottom;

  span {
    display: inline-block;
    max-width: 0;
    overflow: hidden;
    transition: max-width .5s;
    vertical-align: bottom;
    white-space: nowrap;
  }
  &:hover span {
    max-width: 14em;
    text-decoration: underline;
  }
}

// Current item in navigation
[aria-current="page"] {
  color: var(--text-main);
  cursor: default;
  pointer-events: none;
  text-decoration: none;

  &::before {
    content: '[  ';
  }

  &::after {
    content: ' ]';
  }
}

// Posts listing
ul.posts li,
li.post {
  list-style: none;
  h2,
  h3,
  h4,
  h5,
  h6, {
    margin-bottom: 0;
    & + p {
      margin-top: 0;
    }
  }
}

// Add an icon to the contained input, on the left
.illustrated-input {
  display:flex;
  align-items:center;
  justify-content:center;
  position: relative;
  svg {
    position: absolute;
    left: 0.6rem;
    top: 0.7rem;
  }
  input {
    padding-left: 2.2rem;
  }
}

// Colorscheme buttons should flex

label.colorscheme {
  display: flex;
}

// Color palette should flex
.colors {
  display: flex;
}

// Add separator after colorscheme icon on nav
nav ul li.colorscheme {
  &::after {
    margin-left: 0.6rem;
    content: "-";
    color: var(--text-muted);
  }
  a svg {
    height: 1.4em;
    width: 1.4em;
    vertical-align: middle;
  }
}

// Add icon to external links
$external-link-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' title='External link' aria-label='External link' aria-hidden='true' role='img' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3E%3Cpath d='M14 3v2h3.59l-9.83 9.83l1.41 1.41L19 6.41V10h2V3m-2 16H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7h-2v7z' fill='black' %3E%3C/path%3E%3C/svg%3E%0A");
a.external {
  &:after {
    background-color: currentColor;
    margin-left: 0.2rem;
    width: 0.8rem;
    height: 0.8rem;
    display: inline-block;
    content: '';
    mask: $external-link-icon no-repeat;
    -webkit-mask: $external-link-icon no-repeat;
    mask-size: cover;
    -webkit-mask-size: cover;
  }
}

// Add anchor next to headers with ids
$anchor-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' role='img' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M12 2A3 3 0 0 0 9 5A3 3 0 0 0 11 7.83V9H8V11H11V19.92C10.26 19.79 9.5 19.58 8.79 19.27C8.05 18.95 7.4 18.56 6.82 18.09C6.24 17.62 5.78 17.11 5.44 16.55L7 15L3 12V15C3 15.97 3.27 16.88 3.82 17.72C4.37 18.56 5.09 19.31 6 19.95C6.87 20.59 7.84 21.09 8.88 21.45C9.93 21.81 10.97 22 12 22C13.03 22 14.07 21.8 15.12 21.44C16.16 21.08 17.13 20.58 18 19.95C18.92 19.31 19.63 18.57 20.18 17.72C20.73 16.88 21 15.97 21 15V12L17 15L18.56 16.55C18.22 17.11 17.76 17.62 17.18 18.09C16.6 18.56 15.95 18.95 15.21 19.27C14.5 19.58 13.74 19.79 13 19.92V11H16V9H13V7.82A3 3 0 0 0 15 5A3 3 0 0 0 12 2M12 4A1 1 0 0 1 13 5A1 1 0 0 1 12 6A1 1 0 0 1 11 5A1 1 0 0 1 12 4Z'/%3E%3C/svg%3E%0A");
h1, h2, h3, h4, h5, h6 {
  &.anchor a:after {
    background-color: currentColor;
    display: inline-block;
    margin-left: 0.5rem;
    width: 1rem;
    height: 1rem;
    content: '';
    mask: $anchor-icon no-repeat;
    -webkit-mask: $anchor-icon no-repeat;
    mask-size: cover;
    -webkit-mask-size: cover;
  }
}
