@import "normalize";
@import "water";
@import "highlight";

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/FiraSans/Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: normal;
  src: url('/assets/FiraSans/Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: bold;
  src: url('/assets/FiraSans/Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: bold;
  src: url('/assets/FiraSans/BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/FiraCode/Regular.woff2') format('woff2');
}

// Default theme (rose-pine)
:root {
  --base00: #faf4ed;
  --base01: #fffaf3;
  --base02: #f2e9de;
  --base03: #9893a5;
  --base04: #6e6a86;
  --base05: #575279;
  --base06: #555169;
  --base07: #26233a;
  --base08: #1f1d2e;
  --base09: #b4637a;
  --base0A: #ea9d34;
  --base0B: #d7827e;
  --base0C: #286983;
  --base0D: #56949f;
  --base0E: #907aa9;
  --base0F: #c5c3ce;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base00: #232136;
    --base01: #2a273f;
    --base02: #393552;
    --base03: #59546d;
    --base04: #817c9c;
    --base05: #e0def4;
    --base06: #f5f5f7;
    --base07: #d9d7e1;
    --base08: #ecebf0;
    --base09: #eb6f92;
    --base0A: #f6c177;
    --base0B: #ea9a97;
    --base0C: #3e8fb0;
    --base0D: #9ccfd8;
    --base0E: #c4a7e7;
    --base0F: #b9b9bc;
  }
}

// Map water.css variables to base16
:root {
  --animation-duration: 0.13s;
  --background: var(--base01);
  --background-alt: var(--base02);
  --background-body: var(--base00);
  --border: var(--base02);
  --button-hover: var(--base03);
  --code: var(--base0D);
  --error: var(--base08);
  --focus: var(--base0A);
  --form-placeholder: var(--base04);
  --form-text: var(--base05);
  --highlight: var(--base0C);
  --links: var(--base09);
  --scrollbar-thumb: var(--base04);
  --scrollbar-thumb-hover: var(--base05);
  --selection: var(--base06);
  --text-bright: var(--base06);
  --text-main: var(--base05);
  --text-muted: var(--base04);
  --variable: var(--base0B);
}

:target {
  background: var(--base02);
}

// Buttons and inputs color
button,
input,
select,
textarea {
  background-color: var(--background-alt);
}

// Main font
body {
  font-family: "Fira Sans", sans-serif;
}

// Code font
code {
  font-family: "Fira Code", monospace;
  font-size: .95em;
}

// Nav bar
nav ul {
  list-style: none;
  margin-left: -30px;

  li {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-top: -10px;
    vertical-align: middle;
  }
}

header > nav {
  & > nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2em;
    margin-top: 2em;


    .title {
      color: var(--text-muted);
      font-size: 2.2em;
      font-weight: 600;
      a {
        color: var(--variable);
        text-decoration: none;
      }

      &:hover {
        color: var(--focus);

        a {
          text-decoration: none;
        }
      }
    }
  }
}

// Remove emojis from water.css

[href^="mailto"]::before {
  // scss-lint:disable ImportantRule
  content: '' !important;
}

[href^="tel"]::before {
  // scss-lint:disable ImportantRule
  content: '' !important;
}

[href^="sms"]::before {
  // scss-lint:disable ImportantRule
  content: '' !important;
}
// Expanding PGP
.pgp {
  vertical-align: bottom;

  span {
    display: inline-block;
    max-width: 0;
    overflow: hidden;
    transition: max-width .5s;
    vertical-align: bottom;
    white-space: nowrap;
  }
  &:hover span {
    max-width: 200px;
    text-decoration: underline;
  }
}

// Current item in navigation
[aria-current="page"] {
  color: var(--text-main);
  cursor: default;
  pointer-events: none;
  text-decoration: none;

  &::before {
    content: '[  ';
  }

  &::after {
    content: ' ]';
  }
}

// Posts listing
ul.posts {
  li {
    list-style: none;
    h2,
    h3 {
      margin-bottom: 0;
      & + p {
        margin-top: 0;
      }
    }
  }
}

.left-icon {
  display:flex;
  align-items:center;
  justify-content:center;
  position: relative;
  svg {
    position: absolute;
    left: 0.6rem;
    top: 0.7rem;
  }
  input {
    padding-left: 2.2rem;
  }
}

button.icon {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

label.colorscheme {
  display: flex;
}

.colors {
  display: flex;
}

nav ul li.colorscheme {
  &::after {
    margin-left: 0.6rem;
    content: "-";
    color: var(--text-muted);
  }
  a svg {
    vertical-align: middle;
  }
}

$external-link: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' title='External link' aria-label='External link' aria-hidden='true' role='img' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3E%3Cpath d='M14 3v2h3.59l-9.83 9.83l1.41 1.41L19 6.41V10h2V3m-2 16H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7h-2v7z' fill='black' %3E%3C/path%3E%3C/svg%3E%0A");

a.external {
  &:after {
    background-color: currentColor;
    margin-left: 0.2rem;
    width: 0.8rem;
    height: 0.8rem;
    display: inline-block;
    content: '';
    mask: $external-link no-repeat;
    -webkit-mask: $external-link no-repeat;
    mask-size: cover;
    -webkit-mask-size: cover;
  }
}
