---
title: Notes
description: My in-progress work, stuff i'm learning, or random guides and schedules that don't quite fit a blog
---

<h1>Latest Notes</h1>

<ul class="notes">
  {% assign notes = site.notes | reverse %}
  {% for note in notes %}
  {% if note.draft == false %}
  <li>
    <h2 class="item-title">
      <small>{% include icons/languages/{{ note.language }}.svg %}</small>
      {% if note.category.size > 0 %}({{ note.category }}){% endif %}
      <a href="{{ note.url }}">
        {{ note.title }}
      </a>
    </h2>
    <small>{{ note.date | date: "%d/%m/%y" }}</small>
    {% if note.tags.size > 0 %}
      <p>Tags: <small>{% for tag in note.tags %} {{ tag }},  {% endfor %}</small></p>
    {% endif %}
  </li>
  {% endif %}
  {% endfor %}
</ul>
