<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gabriel Fontes | {{ page.title }}</title>
    <link rel="canonical" href="https://misterio.me{{ page.url }}" />
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    {% if page.noindex == true %} <meta name="robots" content="noindex"> {% endif %}
    <link rel="stylesheet" href="/assets/style.css" />
    <style>
    </style>
  </head>
  <body>
    <header>
    {% include nav.html %}
    </header>
    <main>
      <h1>{{ page.title }}</h1>
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
