---
title: "Calculadora BSI 020 - 2021/2"
layout: default
category: bsi
language: pt-br
noindex: true
date: 2021-08-18
---


<script>
  function importData() {
      // Create temporary input element
      const uploadInput = document.createElement("input");
      uploadInput.setAttribute("type", "file");
      uploadInput.setAttribute("accept", "application/json");
      document.body.appendChild(uploadInput);
      // Trigger it
      uploadInput.click();
      // When the user selects a file
      uploadInput.addEventListener('change', event => {
        // Create a file reader
        const reader = new FileReader();
        // When the reader loads
        reader.onload = event => {
          // Parse file json contents
          const data = JSON.parse(event.target.result);
          // Load it into localStorage
          Object.entries(data).forEach(([key, value]) => {
            localStorage.setItem(`data-${key}`, JSON.stringify(value));
          });
        }
        // Trigger file loading
        reader.readAsText(event.target.files[0]);
        // Remove temporary input element
        event.target.remove();
        // Reload page
        location.reload();
      });
  }
  function exportData() {
    const data = {};
    // Iterate over values in local storage
    Object.keys(localStorage).forEach(key => {
      // If it's about some course
      if (key.startsWith("data-")) {
        data[key.replace(/^data-/, "")] = JSON.parse(localStorage.getItem(key));
      }
    });
    // Encode as JSON
    const dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(data));
    // Create a temporary anchor element to download it
    const downloadAnchor = document.createElement("a");
    downloadAnchor.setAttribute("href", dataStr);
    downloadAnchor.setAttribute("download", "notas.json");
    document.body.appendChild(downloadAnchor);
    // Trigger the download
    downloadAnchor.click();
    // Remove the anchor
    downloadAnchor.remove();
  }
  function resetData() {
    // Remove all grade keys on localstorage
    Object.keys(localStorage).forEach(key => {
      if (key.startsWith("data-")) {
        localStorage.removeItem(key);
      }
    });
    // Reload page
    location.reload();
  }

  // Retira o menor elemento de um array
  function removeSmallest(arr) {
    arr = arr.slice();
    arr.splice(arr.indexOf(Math.min.apply(null, arr)), 1);
    return arr;
  }

  // Tira média dos valores de um array de números
  // Opcionalmente você pode passar quantos serão eliminados
  function mean(values, remove) {
    if (remove) {
      for (var i = 0; i < remove; i++) {
        values = removeSmallest(values);
      }
    } else {
      remove = 0;
    }

    var sum = 0.0;
    values.forEach(value => {
      sum += value;
    });

    return sum / values.length;
  }

  // Inicializa o form de uma disciplina, dado sua info (subject) e seu criterio (subjectCriteria)
  function init_form(name, subjectCriteria) {
    // Seleciona o form da disciplina
    const form = document.querySelector(`form#${name}`);

    // Carregar notas da disciplina da localstorage, caso exista
    const loadedData = JSON.parse(localStorage.getItem(`data-${name}`));

    var data;
    if (loadedData) {
      data = loadedData;
      pushSubjectData(data, form, true);
    } else {
      data = {};
    }

    // Para cada elemento de input ou select nesse form
    form.querySelectorAll("select, input").forEach((element) => {
      // Adicionar um evento quando o input for alterado
      element.addEventListener("input", () => {
        // Pegar os dados inseridos no form
        data = getSubjectData(data, form);
        // Processar eles usando o criterio
        data = subjectCriteria(data);
        // Atualizar o que aparece no form
        pushSubjectData(data, form, false);
        // Salvar no localstorage
        localStorage.setItem(`data-${name}`, JSON.stringify(data));
      });
    });
  }

  // Atualiza informações de média e de aprovação no form
  function pushSubjectData(data, form, updateFields) {
    // Para cada grupo de nota
    form.querySelectorAll("fieldset").forEach(group => {
      // Caso seja um grupo de nota final, ignorar (atualizaremos mais pra frente)
      if (group.className == "final") return;
      group.querySelectorAll("input, select").forEach(grade => {
        // Caso seja o campo de nota final, ignorar
        if (grade.className == "final") return;
        if (updateFields) grade.value = data[group.className][grade.className].toFixed(1);
      });

      // Atualizar subtotal daquele grupo
      group.querySelector(".total strong").innerText = data[group.className]["final"].toFixed(1);
    });
    // Nota final da disciplina
    const total = form.querySelector("fieldset.final");
    // Alterar valor da nota total
    total.querySelector(".total strong").innerText = data["final"].toFixed(1);

    // Status de aprovado/reprovado
    const situation = total.querySelector(".total em");

    // Caso > 5.0
    if (parseFloat(data["final"].toFixed(1)) < 5.0) {
      situation.innerText = "Não passou ✗";
      situation.classList.add("failed");
      situation.classList.remove("succeeded");
      // Caso < 5.0
    } else {
      situation.innerText = "Passou ✓";
      situation.classList.add("succeeded");
      situation.classList.remove("failed");
    }
  }

  // Puxa os dados do form
  function getSubjectData(data, form) {
    // Para cada grupo de nota
    form.querySelectorAll("fieldset").forEach(group => {
      // Inicializar subobjeto
      data[group.className] = {};
      // Se for um grupo de nota final, ignorar
      if (group.className == "final") return;
      // Para cada nota do grupo
      group.querySelectorAll("input, select").forEach(grade => {
        // Caso seja o campo final, ignorar
        if (grade.className == "final") return;
        // Puxar nota do input ou select
        data[group.className][grade.className] = parseFloat(grade.value) || 0.0;
      });
    });
    return data;
  }
</script>
<h1>{{ page.title }}</h1>
  <button onClick="importData()">Importar</button><button onClick="exportData()">Exportar</button><button onClick="resetData()">Resetar</button>
<nav>
  <a href="/notes/bsi/disciplinas-2021-2.html">Informações das disciplinas</a>
</nav>

<h2 id="sme0510---introdução-à-pesquisa-operacional">
  SME0510 - Introdução à Pesquisa Operacional
</h2>
<a
  href="/notes/bsi/disciplinas-2021-2.html#sme0510---introdução-à-pesquisa-operacional"
  >Informações</a
>
<form id="sme0510">
  <fieldset class="provas">
    <legend>Provas</legend>
    {% include grade.html name="Prova 1" %}
    {% include grade.html name="Prova 2" %}
    {% include grade.html name="Prova 3" %}
    <hr />
    <div class="total">Média: <strong>5.0</strong></div>
  </fieldset>
  <fieldset class="atividades">
    <legend>Atividades</legend>
    {% include grade.html name="Média" %}
    <hr />
    <div class="total">Média: <strong>5.0</strong></div>
  </fieldset>
  <fieldset class="final">
    <legend>Total</legend>
    <hr />
    <div class="total">
      Média Final: <strong>5.0</strong>
      <hr />
      <em class="succeeded">Passou ✓</em>
    </div>
  </fieldset>

  <script>
    init_form("sme0510", (subject) => {
      subject["provas"]["final"] = mean(Object.values(subject["provas"]));
      subject["atividades"]["final"] = subject["atividades"]["media"];
      subject["final"] =
        0.8 * subject["provas"]["final"] + 0.2 * subject["atividades"]["final"];
      return subject;
    });
  </script>
</form>

<hr />

<h2 id="ssc0541---sistemas-operacionais-i">
  SSC0541 - Sistemas Operacionais I
</h2>
<a href="/notes/bsi/disciplinas-2021-2.html#ssc0541---sistemas-operacionais-i"
  >Informações</a
>
<form id="ssc0541">
  <fieldset class="provinhas">
    <legend>Provinhas e Trabalhos</legend>
    {% include grade.html name="Provinha 1" %}
    {% include grade.html name="Provinha 2" %}
    {% include grade.html name="Provinha 3" %}
    {% include grade.html name="Provinha 4" %}
    {% include grade.html name="Trabalho 1" %}
    <hr />
    <div class="total">Média: <strong>5.0</strong></div>
  </fieldset>
  <fieldset class="prova">
    <legend>Prova Teórica</legend>
    {% include grade.html name="Prova" %}
    <hr />
    <div class="total">Média: <strong>5.0</strong></div>
  </fieldset>
  <fieldset class="final">
    <legend>Total</legend>
    <hr />
    <div class="total">
      Média Final: <strong>5.0</strong>
      <hr />
      <em class="succeeded">Passou ✓</em>
    </div>
  </fieldset>

  <script>
    init_form("ssc0541", (subject) => {
      subject["provinhas"]["final"] = mean(Object.values(subject["provinhas"]));
      subject["prova"]["final"] = subject["prova"]["prova"];
      subject["final"] =
        0.4 * subject["prova"]["final"] + 0.6 * subject["provinhas"]["final"];
      return subject;
    });
  </script>
</form>

<hr />

<h2 id="ssc0510---arquitetura-de-computadores">
  SSC0510 - Arquitetura de Computadores
</h2>
<a href="/notes/bsi/disciplinas-2021-2.html#ssc0510---arquitetura-de-computadores"
  >Informações</a
>
<form id="ssc0510">
  <fieldset class="prova">
    <legend>Prova</legend>
    {% include grade.html name="Prova" %}
    <hr />
    <div class="total">Média: <strong>5.0</strong></div>
  </fieldset>
  <fieldset class="trabalho">
    <legend>Trabalho em Grupo</legend>
    {% include grade.html name="Trabalho" %}
    <hr />
    <div class="total">Média: <strong>5.0</strong></div>
  </fieldset>
  <fieldset class="final">
    <legend>Total</legend>
    <hr />
    <div class="total">
      Média Final: <strong>5.0</strong>
      <hr />
      <em class="succeeded">Passou ✓</em>
    </div>
  </fieldset>

  <script>
    init_form("ssc0510", (subject) => {
      subject["prova"]["final"] = subject["prova"]["prova"];
      subject["trabalho"]["final"] = subject["trabalho"]["trabalho"];
      subject["final"] =
        0.7 * subject["prova"]["final"] + 0.3 * subject["trabalho"]["final"];
      return subject;
    });
  </script>
</form>

<hr />

<h2 id="ssc0526---análise-e-projeto-orientados-à-objetos">
  SSC0526 - Análise e Projeto Orientados à Objetos
</h2>
<a
  href="/notes/bsi/disciplinas-2021-2.html#ssc0526---análise-e-projeto-orientados-à-objetos"
  >Informações</a
>
<form id="ssc0526">
  <fieldset class="provas">
    <legend>Provas</legend>
    {% include grade.html name="Prova 1" %}
    {% include grade.html name="Prova 2" %}
    <hr />
    <div class="total">Média: <strong>5.0</strong></div>
  </fieldset>
  <fieldset class="trabalhos">
    <legend>Trabalhos</legend>
    {% include grade.html name="Trabalho 1" %}
    {% include grade.html name="Trabalho 2" %}
    <hr />
    <div class="total">Média: <strong>5.0</strong></div>
  </fieldset>
  <fieldset class="exercicios">
    <legend>Exercícios em Sala</legend>
    {% include grade.html name="Exercicio 1" %}
    {% include grade.html name="Exercicio 2" %}
    {% include grade.html name="Exercicio 3" %}
    {% include grade.html name="Exercicio 4" %}
    {% include grade.html name="Exercicio 5" %}
    {% include grade.html name="Exercicio 6" %}
    {% include grade.html name="Exercicio 7" %}
    {% include grade.html name="Exercicio 8" %}
    {% include grade.html name="Exercicio 9" %}
    {% include grade.html name="Exercicio 10" %}
    <hr />
    <div class="total">Média: <strong>5.0</strong></div>
  </fieldset>
  <fieldset class="final">
    <legend>Total</legend>
    <hr />
    <div class="total">
      Média Final: <strong>5.0</strong>
      <hr />
      <em class="succeeded">Passou ✓</em>
    </div>
  </fieldset>

  <script>
    init_form("ssc0526", (subject) => {
      subject["trabalhos"]["final"] = mean(Object.values(subject["trabalhos"]));
      subject["exercicios"]["final"] = mean(Object.values(subject["exercicios"]), 2);

      subject["provas"]["final"] =
        0.4 * subject["provas"]["prova-1"] + 0.6 * subject["provas"]["prova-2"];

      const m1 = subject["provas"]["final"];
      const m2 =
        0.7 * subject["trabalhos"]["final"] +
        0.3 * subject["exercicios"]["final"];
      if (m1 >= 5.0 && m2 >= 5.0) {
        subject["final"] = 0.6 * m1 + 0.4 * m2;
      } else {
        subject["final"] = Math.min(m1, m2);
      }
      return subject;
    });
  </script>
</form>

<hr />

<h2 id="ssc0577---seminários-em-computação-ii">
  SSC0577 - Seminários em Computação II
</h2>
<a href="/notes/bsi/disciplinas-2021-2.html#ssc0577---seminários-em-computação-ii"
  >Informações</a
>
<form id="ssc0577">
  <fieldset class="resumos">
    <legend>Resumos</legend>
    {% include grade-seminarios.html name="Resumo 1" %}
    {% include grade-seminarios.html name="Resumo 2" %}
    {% include grade-seminarios.html name="Resumo 3" %}
    {% include grade-seminarios.html name="Resumo 4" %}
    {% include grade-seminarios.html name="Resumo 5" %}
    {% include grade-seminarios.html name="Resumo 6" %}
    {% include grade-seminarios.html name="Resumo 7" %}
    {% include grade-seminarios.html name="Resumo 8" %}
    {% include grade-seminarios.html name="Resumo 9" %}
    {% include grade-seminarios.html name="Resumo 10" %}
    {% include grade-seminarios.html name="Resumo 11" %}
    {% include grade-seminarios.html name="Resumo 12" %}
    {% include grade-seminarios.html name="Resumo 13" %}
    <hr />
    <div class="total">Média: <strong>5.0</strong></div>
  </fieldset>
  <fieldset class="final">
    <legend>Total</legend>
    <hr />
    <div class="total">
      Média Final: <strong>5.0</strong>
      <hr />
      <em class="succeeded">Passou ✓</em>
    </div>
  </fieldset>

  <script>
    init_form("ssc0577", (subject) => {
      subject["resumos"]["final"] = mean(Object.values(subject["resumos"]), 3);
      subject["final"] = subject["resumos"]["final"];
      return subject;
    });
  </script>
</form>

<hr />

<h2 id="scc0540---bases-de-dados">
  SCC0540 - Bases de Dados
</h2>
<a href="/notes/bsi/disciplinas-2021-2.html#scc0540---bases-de-dados"
  >Informações</a
>
<form id="scc0540">
  <fieldset class="projetos">
    <legend>Projeto</legend>
    {% include grade.html name="Projeto 1" %}
    {% include grade.html name="Projeto 2" %}
    <hr />
    <div class="total">Média: <strong>5.0</strong></div>
  </fieldset>
  <fieldset class="atividades">
    <legend>Projeto</legend>
    {% include grade.html name="Atividade 1" %}
    {% include grade.html name="Atividade 2" %}
    {% include grade.html name="Atividade 3" %}
    {% include grade.html name="Atividade 4" %}
    {% include grade.html name="Atividade 5" %}
    {% include grade.html name="Atividade 6" %}
    {% include grade.html name="Atividade 7" %}
    {% include grade.html name="Atividade 8" %}
    {% include grade.html name="Atividade 9" %}
    {% include grade.html name="Atividade 10" %}
    <hr />
    <div class="total">Média: <strong>5.0</strong></div>
  </fieldset>
  <fieldset class="final">
    <legend>Total</legend>
    <hr />
    <div class="total">
      Média Final: <strong>5.0</strong>
      <hr />
      <em class="succeeded">Passou ✓</em>
    </div>
  </fieldset>

  <script>
    init_form("scc0540", (subject) => {
      subject["atividades"]["final"] = mean(Object.values(subject["atividades"]));
      subject["projetos"]["final"] = mean(Object.values(subject["projetos"]));

      if (subject["projetos"]["final"] >= 5.0 && subject["atividades"]["final"] >= 5.0) {
        subject["final"] = mean([subject["atividades"]["final"], subject["projetos"]["final"]]);
      } else {
        subject["final"] = Math.min(subject["projetos"]["final"], subject["atividades"]["final"]);
      }
      return subject;
    });
  </script>
</form>
